{{- if and .Values.tls.autoGenerate (not .Values.tls.certManager.enabled) }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "keeper-injector.fullname" . }}-cert-patch
  labels:
    {{- include "keeper-injector.labels" . | nindent 4 }}
    app.kubernetes.io/component: webhook-cert-manager
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "1"
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
spec:
  backoffLimit: 3
  template:
    metadata:
      name: {{ include "keeper-injector.fullname" . }}-cert-patch
      labels:
        {{- include "keeper-injector.labels" . | nindent 8 }}
        app.kubernetes.io/component: webhook-cert-manager
    spec:
      serviceAccountName: {{ include "keeper-injector.fullname" . }}-cert-manager
      restartPolicy: OnFailure
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        fsGroup: 65534
      containers:
        - name: patch
          image: registry.k8s.io/ingress-nginx/kube-webhook-certgen:v1.4.4
          imagePullPolicy: IfNotPresent
          args:
            - patch
            - --webhook-name={{ include "keeper-injector.fullname" . }}
            - --namespace={{ .Release.Namespace }}
            - --secret-name={{ include "keeper-injector.certSecretName" . }}
            - --patch-validating=false
            - --patch-mutating=true
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 65534
            capabilities:
              drop:
                - ALL
          resources:
            limits:
              cpu: 50m
              memory: 64Mi
            requests:
              cpu: 10m
              memory: 32Mi
{{- end }}
