apiVersion: v1
kind: Service
metadata:
  name: hello-secrets
  labels:
    app: hello-secrets
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: hello-secrets
